.display-none {
    display: none;
}

h2{
  text-align: center;
  margin-bottom: 5rem;
  color: #dee2e6;
}

ul {
  list-style-type: none;
}

.bg{
  background-color: #3F744E;
}

h3{
  color: #dee2e6;
}

.btn{
  color: #495057;
  background-color: #dee2e6 ;
}

.card-body{
  background-color: #f8f9fa;
}
