<h1>Todo-List</h1>
<div class="container">
  <app-task-form (addTask)="onAddTask($event)"
  (editTask)="editTask($event)"
  [taskedited]="taskedited"></app-task-form>
  <!-- <app-task-form-driven (addTask)="onAddTask($event)"></app-task-form-driven> -->
  <app-task-list
    [tasks]="listTask"
    (handleTask)="handleTask($event)"
  ></app-task-list>

  <div *ngIf="selectedTask">
    <app-task-detail
      [task]="selectedTask"
      (editTask)="setEditTask($event)"
      (closeDetail)="fecharDetalhes()"
    ></app-task-detail>
  </div>
  <app-task-log [taskList]="logListTask"></app-task-log>
</div>
