<div class="position-relative min-vh-100 d-flex flex-column">
  <img
    src="./assets/background.jpg"
    alt="Foto de hamburguer e batata"
    class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover"
  />
  <header class="py-3 container">
    <nav class="navbar navbar-dark navbar-expand-lg bg-transparent">
      <div class="container-fluid h-100">
        <a class="navbar-brand text-white ourFont fixFont" href="#"
          >Feane</a
        >
        <button
          class="navbar-toggler bg-transparent collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span> </span>
          <span> </span>
          <span> </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul
            class="navbar-nav me-auto mb-3 mb-lg-0 text-uppercase d-flex justify-content-center w-100 fs-3 gap-4 text-center"
          >
            <li class="nav-item">
              <a
                class="nav-link active text-warning"
                aria-current="page"
                href="#"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hoverOrange" href="#our-menu">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hoverOrange" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white hoverOrange" href="#book-table"
                >Book table</a
              >
            </li>
          </ul>
          <div class="d-flex align-items-center justify-content-center">
            <span
              class="fa-solid fa-user text-white px-3 fs-3 hoverOrange"
            ></span>
            <span
              class="fa-solid fa-cart-shopping text-white px-3 fs-3 hoverOrange"
            ></span>
            <span
              class="fa-solid fa-magnifying-glass text-white px-3 fs-3 hoverOrange"
            ></span>

            <form class="d-flex" role="search">
              <button
                class="text-nowrap btn btn-warning rounded-pill btn-lg px-5 fs-3 text-white"
                type="submit"
              >
                Order Online
              </button>
            </form>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- INÍCIO DO SLIDE -->
  <section class="container" id="carrossel-inicio">
    <!-- CARROUSEL -->
    <div id="carouselExampleIndicators" class="carousel slide galeria">
      <!-- INDICADORES DO SLIDE -->
      <div class="carousel-indicators align-items-center fixIndicator">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div
        class="carousel-inner fixTop translate-middle-y fixPaddingR w-100"
      >
        <div class="carousel-item active slide-transition">
          <div class="d-flex flex-column gap-2 text-white">
            <h1 class="ourFont display-1">Fast Food Restaurant</h1>
            <p class="fs-4">
              Doloremque, itaque aperiam facilis rerum, commodi, temporibus
              sapiente ad mollitia laborum quam quisquam esse error unde.
              Tempora ex doloremque, labore, sunt repellat dolore, iste
              magni quos nihil ducimus libero ipsam.
            </p>
            <button
              class="text-nowrap btn btn-warning rounded-pill btn-lg px-3 ps-3 w-25 fs-3 text-white"
            >
              Order Now
            </button>
          </div>
        </div>

        <div class="carousel-item slide-transition">
          <div class="d-flex flex-column gap-2 text-white">
            <h1 class="ourFont display-1">Fast Food Restaurant</h1>
            <p class="fs-4">
              Doloremque, itaque aperiam facilis rerum, commodi, temporibus
              sapiente ad mollitia laborum quam quisquam esse error unde.
              Tempora ex doloremque, labore, sunt repellat dolore, iste
              magni quos nihil ducimus libero ipsam.
            </p>
            <button
              class="text-nowrap btn btn-warning rounded-pill btn-lg px-3 ps-3 w-25 fs-3 text-white"
            >
              Order Now
            </button>
          </div>
        </div>

        <div class="carousel-item slide-transition">
          <div class="d-flex flex-column gap-2 text-white">
            <h1 class="ourFont display-1">Fast Food Restaurant</h1>
            <p class="fs-4">
              Doloremque, itaque aperiam facilis rerum, commodi, temporibus
              sapiente ad mollitia laborum quam quisquam esse error unde.
              Tempora ex doloremque, labore, sunt repellat dolore, iste
              magni quos nihil ducimus libero ipsam.
            </p>
            <button
              class="text-nowrap btn btn-warning rounded-pill btn-lg px-3 ps-3 w-25 fs-3 text-white"
            >
              Order Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
