<section class="container" id="our-menu">
  <div class="d-flex flex-column gap-5 mt-5">
    <h3 class="font-custom text-center pt-3">Our Menu</h3>
    <div class="d-flex justify-content-center">
      <div
        class="btn-group d-flex gap-3 flex-wrap"
        role="group"
        aria-label="Basic radio toggle button group"
      >
        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio1"
          autocomplete="off"
          checked
        />
        <label
          class="btn btn-outline-dark rounded-pill px-4 fs-3 border-0"
          for="btnradio1"
          >All</label
        >

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio2"
          autocomplete="off"
        />
        <label
          class="btn btn-outline-dark rounded-pill px-4 fs-3 border-0"
          for="btnradio2"
          >Burguer</label
        >

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio3"
          autocomplete="off"
        />
        <label
          class="btn btn-outline-dark rounded-pill px-4 fs-3 border-0"
          for="btnradio3"
          >Pizza</label
        >

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio4"
          autocomplete="off"
        />
        <label
          class="btn btn-outline-dark rounded-pill px-4 fs-3 border-0"
          for="btnradio4"
          >Pasta</label
        >

        <input
          type="radio"
          class="btn-check"
          name="btnradio"
          id="btnradio5"
          autocomplete="off"
        />
        <label
          class="btn btn-outline-dark rounded-pill px-4 fs-3 border-0"
          for="btnradio5"
          >Fries</label
        >
      </div>
    </div>

    <div class="d-flex gap-5 justify-content-center flex-wrap">
      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/burguer.png"
            class="card-img-top"
            alt="Foto do Hamburguer"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Burger</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>

      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/burguer.png"
            class="card-img-top"
            alt="Foto do Hamburguer"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Burger</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>

      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/fritas.png"
            class="card-img-top"
            alt="Foto das Fritas"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Fries</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>

      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/pasta.png"
            class="card-img-top"
            alt="Foto do Macarrão"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Pasta</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>

      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/pasta.png"
            class="card-img-top"
            alt="Foto do Macarrão"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Pasta</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>

      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/pizza.png"
            class="card-img-top"
            alt="Foto da Pizza"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Pizza</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>

      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/pizza.png"
            class="card-img-top"
            alt="Foto da Pizza"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Pizza</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>

      <div
        class="card border-0 our-menu-card bg-dark rounded-bottom-4 rounded-top-5"
        style="width: 35rem"
      >
        <div
          class="our-menu-img-container border-1 bg-body-tertiary d-flex align-items-center justify-content-center rounded-top-4"
        >
          <img
            src="./assets/our-menu/pizza.png"
            class="card-img-top"
            alt="Foto da Pizza"
          />
        </div>
        <div class="card-body text-white border-0 p-5">
          <h5 class="card-title fs-2 mb-4">Delicious Pizza</h5>
          <p class="card-text fs-4">
            Veniam debitis quaerat officiis quasi cupiditate quo, quisquam
            velit, magnam voluptatem repellendus sed eaque.
          </p>
          <div
            class="d-flex justify-content-between align-items-center mt-5"
          >
            <p class="card-text fs-4 m-0">R$ 10,00</p>
            <a
              href="#"
              class="btn btn-primary fa-solid fa-cart-shopping text-white bg-warning rounded-pill fs-5 d-flex align-items-center p-3 border-0"
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center mb-5">
      <button
        class="text-nowrap btn btn-warning rounded-pill px-5 py-2 fs-3 text-white"
      >
        View More
      </button>
    </div>
  </div>
</section>
