*{
    box-sizing: border-box;
}

body{
    background-color: #0A4D68;
}

div {
    margin-bottom: 20px;
    text-align: center;
}

fieldset {
    position: relative;
    width: 600px;
    padding: 20px;
    margin: 50px auto;
    border: 3px solid #00FFCA;
}

.custom-input {
    width: 100%;
    padding: 15px 10px;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    color: #0A4D68
}

.button-config{
    display: block;
    background-color: #088395;
    border: none;
    border-radius: 5%;
    height: 50px;
    width: 100px;
    margin: auto;
}

label{
    font-size: 25px;
    color: #05BFDB; 
}