<section class="my-5 container" id="book-table">
  <h2 class="font-custom pt-3 mb-5">Book A Table</h2>
  <div class="row">
    <div class="col-md-6">
      <form class="form-container">
        <input
          class="form-control form-input"
          type="text"
          placeholder="Your Name"
        />
        <input
          class="form-control form-input"
          type="tel"
          placeholder="Phone Number"
        />
        <input
          class="form-control form-input"
          type="email"
          placeholder="Your Email"
        />
        <select class="form-select form-input">
          <option value="" disabled selected>How many persons?</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <input class="form-control form-input" type="date" />
        <input
          class="btn btn-lg text-nowrap form-button"
          type="submit"
          value="Book Now"
        />
      </form>
    </div>
    <div class="col-md-6">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.9771264425863!2d-46.69488092596903!3d-23.56926497879436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5786b7831717%3A0x13dc48ab54d37aba!2sAda%20Tech!5e0!3m2!1spt-BR!2sbr!4v1690649780036!5m2!1spt-BR!2sbr"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>

<section class="my-5 container" id="what-says-our-customer">
  <h3 class="font-custom text-center pt-3">What Says Our Customers</h3>
  <div id="carouselClient" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-6">
            <div class="box-item">
              <div class="detail-box-item">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque accumsan orci in lorem consequat, in
                  pharetra nibh accumsan. Donec consequat pretium sapien
                  ac condimentum. Quisque rhoncus erat id hendrerit
                  ultricies.
                </p>
                <h3>Raniel Mendonça</h3>
                <p>Rio de Janeiro</p>
              </div>
              <div class="img-box-item">
                <img
                  class="img-box"
                  src="https://media.licdn.com/dms/image/C4E03AQGjToWWZywjrQ/profile-displayphoto-shrink_800_800/0/1637682500481?e=2147483647&v=beta&t=9tGRWPU3xsEgR56B1OHFAPES0pQt6U1zzOXLrexSOn0"
                  width="75px"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-item">
              <div class="detail-box-item">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque accumsan orci in lorem consequat, in
                  pharetra nibh accumsan. Donec consequat pretium sapien
                  ac condimentum. Quisque rhoncus erat id hendrerit
                  ultricies.
                </p>
                <h3>Raniel Mendonça</h3>
                <p>Rio de Janeiro</p>
              </div>
              <div class="img-box-item">
                <img
                  class="img-box"
                  src="https://media.licdn.com/dms/image/C4E03AQGjToWWZywjrQ/profile-displayphoto-shrink_800_800/0/1637682500481?e=2147483647&v=beta&t=9tGRWPU3xsEgR56B1OHFAPES0pQt6U1zzOXLrexSOn0"
                  width="75px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-6">
            <div class="box-item">
              <div class="detail-box-item">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque accumsan orci in lorem consequat, in
                  pharetra nibh accumsan. Donec consequat pretium sapien
                  ac condimentum. Quisque rhoncus erat id hendrerit
                  ultricies.
                </p>
                <h3>Henrique Suel</h3>
                <p>São Paulo</p>
              </div>
              <div class="img-box-item">
                <img
                  class="img-box"
                  src="https://avatars.githubusercontent.com/u/22986830"
                  width="75px"
                />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-item">
              <div class="detail-box-item">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque accumsan orci in lorem consequat, in
                  pharetra nibh accumsan. Donec consequat pretium sapien
                  ac condimentum. Quisque rhoncus erat id hendrerit
                  ultricies.
                </p>
                <h3>Henrique Suel</h3>
                <p>São Paulo</p>
              </div>
              <div class="img-box-item">
                <img
                  class="img-box"
                  src="https://avatars.githubusercontent.com/u/22986830"
                  width="75px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer text-white">
<div class="text-center container">
  <div class="row pt-5">
    <div class="col-md-3">
      <h4 class="font-custom">Contact Us</h4>
      <ul class="list-unstyled">
        <li class="py-2">
          <i class="fa-solid fa-location-dot fa-xl"></i
          ><span> Location</span>
        </li>
        <li class="py-2">
          <i class="fa-solid fa-phone fa-xl"></i
          ><span> Call +01 1234567890</span>
        </li>
        <li class="py-2">
          <i class="fa-solid fa-envelope fa-xl"></i
          ><span> demo@gmail.com</span>
        </li>
      </ul>
    </div>
    <div class="col-md-3">
      <a class="font-custom text-white" href="#">Feane</a>
      <p>
        Necessary, making this the first true generator on the Internet.
        It uses a dictionary of over 200 Latin words, combined with
      </p>
      <div>
        <i
          class="fa-brands fa-facebook fa-2xl footer-icon"
          aria-hidden="true"
        ></i>
        <i
          class="fa-brands fa-twitter fa-2xl footer-icon"
          aria-hidden="true"
        ></i>
        <i
          class="fa-brands fa-linkedin fa-2xl footer-icon"
          aria-hidden="true"
        ></i>
        <i
          class="fa-brands fa-instagram fa-2xl footer-icon"
          aria-hidden="true"
        ></i>
        <i
          class="fa-brands fa-pinterest fa-2xl footer-icon"
          aria-hidden="true"
        ></i>
      </div>
    </div>
    <div class="col-md-3">
      <h4 class="font-custom">Opening Hours</h4>
      <p>Everyday</p>
      <p>10:00 AM - 10:00 PM</p>
    </div>
    <div class="col-md-3">
      <h4 class="font-custom">Developed By:</h4>
        <p>Ana Emilia</p>
        <p>Diego Ferreira</p>
        <p>Gabriella Wermelinger</p>
        <p>Octavio Massaro</p>
        <p>Samuel Cavalcanti</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center py-5">
      <p>© 2023 All Rights Reserved By Free Html Templates</p>
    </div>
  </div>
</div>
</footer>
